<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>create product </h1>
    <form action="/products/create" method="post">
        <input type="file" name="image" placeholder="image">
        <input type="text" name="name" placeholder="name">
        <input type="number" name="price" placeholder="price">
        <input type="number" name="discount" placeholder="discount">
        <input type="text" name="bgcolor" placeholder="bgcolor">
        <input type="text" name="panelcolor" placeholder="panelcolor">
        <input type="text" name="textcolor" placeholder="textcolor">
        <input type="submit" name="Create product" >
    </form>
</body>
</html>